params {
    manifest   = "bams_manifest.csv"
    batch_size = 100
    batchinfo  = "batch_info"
}

process {
    executor = 'slurm'
    queue = 'production'
    time = '12h'
    memory = '8 GB'

    withName: DETECT_READ_TYPE {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ? 'https://depot.galaxyproject.org/singularity/samtools:1.22.1--h96c455f_0' : 'quay.io/biocontainers/samtools:1.22.1--h96c455f_0' }
    }

    withName: CREATE_BATCH_INFO {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }
}

profiles {
    conda {
        process.executor = 'local'
        conda.enabled = true
        singularity.enabled = false
        apptainer.enabled = false
        docker.enabled = false
    }

    docker {
        process.executor = 'local'
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        conda.enabled = false
        singularity.enabled = false
        apptainer.enabled = false
    }

    singularity {
	pullTimeout = '2 h'
        singularity.enabled = true
        singularity.autoMounts = true
        conda.enabled = false
        docker.enabled = false
        apptainer.enabled = false
    }
}
